@charset "utf-8";

/*
Burnt red: #E94D40
Navy blue: #0C243C
*/


* {
    margin: 0;
    padding: 0;
}

*a {
    color: #333333;
}

:root {
    --ff-body: 'Roboto', sans-serif;
    --ff-heading: 'Playfair Display', serif;

    --fs-xl: 2rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;

    color: #333333;
}


/*---------- BODY ----------*/

span {
    color: #333333;
}

li, ol, ul {
    list-style: none;
}

/*---------- HEADERNAV ----------*/

header {
    background: #fff;
    width: 800px;
    margin: 120px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px;
    cursor: pointer;
}

.headernav ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.headernav ul li a {
    text-decoration: none;
    color: #333333;
}

.headernav ul li::after {
    content:'';
    height: 3px;
    width: 0;
    background: #ee3424;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.headernav ul li:hover::after {
    width: 100%;
}

/*---------- HOMEPAGE CONTENT ----------*/

.content-body {
    float: left;
    display: block;
    margin: 80px 0 50px;
    width: 100%;
}

.homepage-intro h1 {
    box-sizing: border-box;
    float: none;
    text-align: left;
    font-family: 'Playfair Display', serif;
    line-height: 50px;
    width: 700px;
    padding: 0 100px;
    margin: 0 auto;
    color: #333333;
}

.content-body .case-studies {
    width: 950px;
    margin: 50px auto 0;
}

.study img {
    width: 300px;
}




/*---------- FOOTER ----------*/

footer {
    margin: 0 auto;
    width: 600px;
}

.footernav {
    width: 800px;
    margin: 100px 0;
    float: left;
}

.footernav ul {
    width: 33%;
    float: left;
}

.footernav a {
    text-decoration: none;
}

.footernav img {
    width: 40px;
}