@charset "utf-8";

/*
Burnt red: #E94D40
Navy blue: #0C243C
*/

/*---------- HEADER ----------*/

/*---------- FOOTER ----------*/

.footer {
    position: absolute;
    display: block;
    color: aquamarine;
}