@charset "utf-8";


/*__________________variables__________________*/
:root {
    --orange: #FF8300;
    --salmon: #F0E6E2;
    --lightfaun: #f8f7f5;
    --faun: #F5F3EB;
    --notBlack: #333333;
    --grey: #b6b6b6;
    --white: #fff;
}


/*__________________reset__________________*/

body,p,a,ul,li {    
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}


/*__________________base styles__________________*/

body {
    background: var(--faun);
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
}

.button {
    display: inline-block;
    background: none;
    padding: 10px 20px;
    border: 2px solid var(--orange);
    border-radius: 6px;
    color: var(--orange);
}

.button:hover {
    color: var(--white);
    background: var(--orange);
    transition: 0.2s;
}

.navbar img {
    width: 60px;
}

/*__________________fonts__________________*/
h1,h2,h3,h4,h5 {
    color: var(--notBlack);
    font-weight: bold;
}

p,a,li {
    color: var(--notBlack);
}

p {
    margin: 0;
    line-height: 1.6rem;
}

h1 {
    font-size: 1.875em; /* 30px --> 30 ÷ 16 = 1.875 */
    line-height: 1.8333em; /* 55px --> 55 ÷ 30 = 1.8333 */
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 1.375em; /* 22px --> 22 ÷ 16 = 1.375 */
    line-height: 1.0909em; /* 24px --> 24 ÷ 22 = 1.090909(09) */
    font-family: 'Playfair Display', serif;
}

h3 {
    font-size: 1.25em; /* 20px --> 20 ÷ 16 = 1.25 */
    line-height: 1.2em; /* 24px --> 24 ÷ 20 = 1.2 */
    font-family: 'Playfair Display', serif;
}

h4 {
    font-size: 1em;
    line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

h5 {
    font-size: 1em; /* 16px --> 16 ÷ 16 = 1 */
    text-transform: uppercase;
    color: var(--orange);
}

h6 {
    font-size: 1em;
    line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
    text-transform: uppercase;
}

/*__________________mobile styles__________________*/
nav {
    margin: 60px auto 0;
    max-width: 80%
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: block;
}

section {
    margin: 0 auto;
    width: 80%;
}

section img {
    width: 100%;
}

.welcome-text {
    margin: 0 auto;
    padding: 50px 0;
}

.latest-work {
    margin-bottom: 60px;
}

.latest-work h4 {
    margin-bottom: 50px;
}

.figure {
    margin-bottom: 60px;
}

.description p {
    margin-bottom: 20px;
}

.other-work {
    display: block;
    margin: 0 auto;
    background-color: var(--salmon);
    max-width: 100%;
    padding: 40px 10% 40px 10%;
}

.projects li {
    margin-bottom: 30px;
}

.projects h3 {
    text-decoration: underline 2px var(--orange);
    text-underline-offset: 5px;
}

.projects a:hover {
    text-underline-offset: 5px;
}

.contact {
    background: var(--white);
    border: none;
    border-radius: 4px;
    padding: 30px 0 60px;
    margin-bottom: 120px;
    margin-top: 60px;
}

.email {
    padding: 0 10%;
}

.email p {
    margin-bottom: 20px;
}






.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.socials li {
    padding: 0 20px;
}

.copyright {
    color: var(--grey);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


/* small tablet styles */
@media screen and (min-width: 600px) {
    
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
    
}
/* desktop styles */
@media screen and (min-width: 1200px) {
    
}

/* hamburger menu */
