@charset "utf-8";

/*
Background: #EAE7DE
Font black: #0C243C
*/

/*---------- HEADER ----------*/

/*---------- FOOTER ----------*/

.footer {
    position: absolute;
    display: block;
    color: aquamarine;
}