@charset "utf-8";

/*
Background: #EAE7DE
Font black: #0C243C
*/

:root {
    background: #ebe7da;
    font-size: 10px;
    font-family: 'Roboto' , sans-serif;

    --font-ratio: 1.33;
    --size-300: calc(var(--size-400) / var(--font-ratio));
    --size-400: 1.6rem;
    /* 16px */
    --size-500: calc(var(--size-400) * var(--font-ratio));
    --size-600: calc(var(--size-500) * var(--font-ratio));
    --size-700: calc(var(--size-600) * var(--font-ratio));
    --size-800: calc(var(--size-700) * var(--font-ratio));
    --size-900: calc(var(--size-800) * var(--font-ratio));

    --orange: #FF7B01;
    --faun: #ebe7da;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*------------------------------ HEADER NAV------------------------------*/

nav {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 60px;
    margin: 24px 0 0 19px;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #FF7B01;
    /* background: linear-gradient(-135deg, #ff3c00, #ff9100); */
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
}

#active:checked~.wrapper {
    clip-path: circle(75%);
}

.menu-btn {
    position: absolute;
    z-index: 2;
    right: 19px;
    /* left: 20px; */
    top: 19px;
    height: 52px;
    width: 52px;
    text-align: center;
    line-height: 52px;
    border-radius: 50%;
    font-size: 20px;
    color: #FF7B01;
    cursor: pointer;
    background: #fff;
    /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
}

#active:checked~.menu-btn {
    background: #fff;
    color: #FF7B01;
}

#active:checked~.menu-btn i:before {
    content: "\f00d";
}

.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 15px 0;
}

.wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #d04190;
}

input[type="checkbox"] {
    display: none;
}



/*------------------------------ BODY ------------------------------*/
p {
    font-size: var(--size-400);
}

label {
    font-size: var(--size-300);
}

h1 {
    font-size: var(--size-700);
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: var(--size-600);
    font-family: 'Playfair Display', serif;
}

h3 {
    font-size: var(--size-500);
    font-family: 'Playfair Display', serif;
}



/*------------------------------ FOOTER ------------------------------*/

.footer {
    position: absolute;
    display: block;
    color: aquamarine;
}


/*------------------------------ CLICKER ------------------------------*/


html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    position: relative;
}



.treat-button {
    font-family: 'Playfair Display', serif;
    font-size: var(--size-700);
    font-weight: 700;
    appearance: none;
    background: transparent;
    border-width: 6px;
    border-color: var(--orange);
    color: var(--orange);
    border-radius: 0.8em;
    padding: .3em .8em;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.treat {
    --scale-x: 0;
    --scale-y: 0;
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - .5rem);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    transform:
        translate(calc(var(--x) * 1px),
            calc(var(--y) * 1px)) translate(-50%, -50%);
    pointer-events: none;
    animation:
        treat-enter .1s ease-in backwards,
        treat-exit 300ms linear calc((var(--lifetime, 3000) * 1ms) - 300ms) forwards;

    @keyframes treat-enter {
        from {
            opacity: 0;
        }
    }

    @keyframes treat-exit {
        to {
            opacity: 0;
        }
    }


}
