@charset "utf-8";

/*
Background: #EAE7DE
Font black: #0C243C
*/

:root {
    background: #ebe7da;
    font-size: 10px;
    font-family: 'Roboto' , sans-serif;

    --font-ratio: 1.33;
    --size-300: calc(var(--size-400) / var(--font-ratio));
    --size-400: 1.6rem;
    /* 16px */
    --size-500: calc(var(--size-400) * var(--font-ratio));
    --size-600: calc(var(--size-500) * var(--font-ratio));
    --size-700: calc(var(--size-600) * var(--font-ratio));
    --size-800: calc(var(--size-700) * var(--font-ratio));
    --size-900: calc(var(--size-800) * var(--font-ratio));

    --white: #fff;
    --orange: #ff7b00;
    --faun: #ebe7da;
    --notBlack: #202020;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: var(--size-400);
    line-height: 1.6em;
}

label {
    font-size: var(--size-300);
}

h1 {
    font-size: var(--size-700);
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: var(--size-600);
    font-family: 'Playfair Display', serif;
}

h3 {
    font-size: var(--size-500);
    font-family: 'Playfair Display', serif;
}

h4 {
    font-size: var(--size-400);
    font-family: 'Playfair Display', serif;
}

h5 {
    font-size: var(--size-300);
    font-family: 'Playfair Display', serif;
}

/*------------BUTTONS------------*/

a.button-1 {
    color: var(--notBlack);
    text-decoration: none;
    transition: all 0.2s;
}

a.button-1:hover {
    color: var(--orange);
}

a.button-2 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.14em solid var(--orange);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-size: var(--size-400);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--orange);
    text-align: center;
    transition: all 0.2s;
}

a.button-2:hover {
    color: var(--white);
    background-color: var(--orange);
}

@keyframes bouncy {
    0% {top: 0em}
    40% {top: 0em}
    43% {top: -0.9em}
    46% {top: 0em}
    48% {top: -0.4em}
    50% {top: 0em}
    100% {top: 0em;}
}

/*------------HEADER NAV------------*/

header {
    width: 100%;
    float: left;
}

.navbar {
    margin: 120px auto 0;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 60px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--notBlack);
    font-size: var(--size-400);
    font-weight: 500;
}

nav ul li a:hover {
    color: var(--orange);
}


/*------------BODY------------*/


.content {
    float: left;
    margin: 80px 0 50px;
    width: 100%;
}

.content section {
    margin: 0 auto;
    max-width: 1000px;
}

.intro h1 {
    margin: 0 auto;
    display: block;
    max-width: 800px;
    line-height: 62px;
    padding: 20px 25px 50px;
}

.latest-work {
    display: flex;
    flex-direction: column;
    margin: auto 0;

}
.container {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto;
    padding: 2em;
    margin-bottom: 60px;
}

.container img{
    max-width: 500px;
    height: auto;
}

.container .description {
    margin: 0 40px;
}

.sub-heading {
    margin: 40px 0;
}

.latest-work .description h3 {
    margin-bottom: 20px;
}

.latest-work .description p {
    margin-bottom: 30px;
}

.profile {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.profile img {
    max-width: 600px;
}

/*------------FOOTER------------*/

.footer {
    position: absolute;
    display: block;
    color: aquamarine;
}



@media screen and (max-width: 500px) {

.navbar {
    margin: 30px 20px 0 20px;
    max-width: 100%;
}

}