/* variables */
:root {
    --white: #fff;
    --orange: #FF8300;
    --lightfaun: #f8f7f5;
    --faun: #F5F3EB;
    --notBlack: #202020;
}


/* reset */

/* base styles */

/* fonts */

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {
    
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
    
}
/* desktop styles */
@media screen and (min-width: 1200px) {
    
}