@charset "utf-8";


/*__________________variables__________________*/
:root {
    --lightorange: #FFBF6E;
    --orange: #FF4F00;
    --midOrange: #ee4b00;
    --darkOrange: #c13e02;
    --blue: #007cff;
    --darkBlue: #0c68cb;
    --salmon: #F0E6E2;
    --mint: #EBF5EE;
    --lavendar: #C1B6FF;
    --lightfaun: #f8f7f5;
    --acid: #CDE4E1;
    --midAcid: #bed3d0;
    --darkacid: #a1c2bd;
    --faun: #FFFDF9;
    --notBlack: #333333;
    --grey: #cecece;
    --white: #FFFDF9;
    --darkwhite: #e9e3d9;
    --lemonade: #F6FFDC;
    --darkgreen: #142216;
    --lime: #D8F849;
    --darklime: #2d3605;
}


/*__________________reset__________________*/

body,p,a,ul,li {    
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}


/*__________________base styles__________________*/

body {
    background: var(--faun);
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
    background-color: var(--white);
    
}

.button {
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    font-size: 1.25em;
    display: inline-block;
    background: none;
    padding: 10px 40px;
    color: var(--white);
    background: var(--orange);
    border-radius: 3px;
}

.button:hover {
    background: var(--midOrange);
}

.button-2 {
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    font-size: 1.25em;
    display: inline-block;
    padding: 8px 40px;
    color: var(--notBlack);
    background: none;
    box-sizing: border-box;
    border: var(--notBlack) 2px solid;
    border-radius: 3px;
}

.button-2:hover {
    background: var(--midAcid);
}


.navbar img {
    width: 60px;
}

a {
    cursor: pointer;
}

/*__________________fonts__________________*/
h1,h2,h3,h4,h5 {
    color: var(--notBlack);
    font-weight: bold;
}

p,a,li {
    color: var(--notBlack);
}

p,li {
    margin: 0;
    line-height: 1.6rem;
}

h1 {
    font-size: 1.875em; /* 30px --> 30 ÷ 16 = 1.875 */
    line-height: 1.4em; /* 55px --> 55 ÷ 30 = 1.8333 */
    font-family: 'Space Mono', monospace;
}

h2 {
    font-size: 1.375em; /* 22px --> 22 ÷ 16 = 1.375 */
    line-height: 1.4em; /* 24px --> 24 ÷ 22 = 1.090909(09) */
    font-family: 'Space Mono', monospace;
}

h3 {
    font-size: 1.25em; /* 20px --> 20 ÷ 16 = 1.25 */
    line-height: 1.2em; /* 24px --> 24 ÷ 20 = 1.2 */
    font-family: 'Space Mono', monospace;
}

h4 {
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

h5 {
    font-family: 'Space Mono', monospace;
    font-size: 1.25em; /* 16px --> 16 ÷ 16 = 1 */
    color: var(--notBlack);
}

h6 {
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

/*__________________mobile styles__________________*/
nav {
    margin: 24px auto 0;
    max-width: 90%
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

nav #open img {
    width: 20px;
    padding: 16px;
    background-color: var(--darkwhite);
    border-radius: 3px;
}

#open:hover {
    cursor: pointer;
}

nav #close img {
    width: 20px;
    padding: 16px;
    background-color: var(--darkOrange);
    border-radius: 3px;
}

.logo img {
    width: 60px;
}

.logo a {
    display: block;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: var(--orange);
    overflow-y: hidden;
    transition: 0.3s;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    text-align: center;
}

.overlay-content a {
    font-family: 'Space Mono', monospace;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 24px;
    text-decoration: none;
    color: var(--white);
    display: block;
    transition: 0.5s;
}

.overlay a:hover,
.overlay a:focus {
    color: var(--grey);
    
}

.overlay .closebtn {
    position: absolute;
}

.closebtn-position {
    display: flex;
    flex-direction: row-reverse;
    margin: 24px auto 0;
    max-width: 90%;
}

section {
    margin: 0 auto;
    width: 90%;
}

section img {
    width: 100%;
    border-radius: 8px;
}

.welcome-text {
    margin: 0 auto;
    padding: 48px 0 24px 0;
}

.latest-work {
    margin-bottom: 60px;
}

.latest-work h2 {
    margin-bottom: 50px;
}

.figure {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.description {
    margin: 0 auto;
}

.description p {
    margin-bottom: 20px;
}

.project-title {
    margin: 50px 0 0 0;
    background-color: var(--lemonade);
}

.other-work {
    display: block;
    margin: 0 auto;
    background-color: var(--lemonade);
    max-width: 100%;
    padding: 40px 5% 10px 5%;
}

.other-projects {
    margin: 0 auto;
    max-width: 900px;
}

.studies {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.studies a {
    font-size: 1.25em;
    line-height: 1.2em;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    text-decoration: underline 2px var(--notBlack);
    text-underline-offset: 8px;
}

.studies p {
    width: 100%;
    margin: 10px 0 20px 0;
}

.studies li {
    width: 100%;
    margin-bottom: 20px;
}

.callout {
    display: block;
    margin: 0 auto;
    background-color: var(--acid);
    max-width: 100%;
    padding: 40px 5% 40px 5%;
}

.callout-content {
    margin: 0 auto;    
}

.callout-content p {
    margin-bottom: 20px;
}

.summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.summary > div {
    flex: 1;
    box-sizing: border-box;
}


.image-fill-div {
    width: 100%; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
}


.summary .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    border-radius: 4px;
    height: 100%;
}

.contact-mode {
    display: flex;
    flex-direction: column;
}

.contact-mode .cta-1{
    margin-bottom: 30px;
}

.contact-mode .cta-2{
    margin-bottom: 30px;
}

.project {
    margin-bottom: 64px;
}

.project .details {
    margin-bottom: 64px;
}

.project .description {
    max-width: 600px;
    margin-bottom: 40px;
}

.step {
    display: flex;
    flex-direction: row;
    align-items: top    ;
    max-width: 400px;
    margin: 0 auto 60px auto;
}

.step img{
    width: 60px;
    margin-right: 30px;
}

.details li {
    list-style-type:disc;
    margin-bottom: 20px;
    margin-left: 40px;
}

.break {
    display: block;
    text-align: center;
    margin-bottom: 60px;
}

.project {
    max-width: 900px;
}

.project-intro {
    text-align: left;
    margin-bottom: 20px;
}


.profile-image img {
    margin-bottom: 60px;
    margin-top: 40px;
}

.emojis {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 10px;
    line-height: 1.8333em;
}

.footer {
    display: block;
    margin: 0 auto;
    background-color: var(--darkgreen);
    max-width: 100%;
    padding: 40px 5% 10px 5%;
}

.footer .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--white);
    margin-bottom: 32px;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.socials li {
    padding: 0 20px;
}

.socials a {
    color: var(--white);
}

.socials a:hover {
    color: var(--orange);
}

.acknowledgement {
    font-size: 14px;
}

.copyright {
    color: var(--white);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 14px;
}

.header {
    width: 100%;
}

.next-project a{
    font-size: 1.25em;
    line-height: 1.8em;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    text-decoration: underline 2px var(--notBlack);
    text-underline-offset: 8px;
}

.service {
    background: none;
    border-radius: 3px;
    max-width: 800px;
}

/*__________________accordion__________________*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
}

.accordion {
    background-color: transparent;
    color: var(--notBlack);
    cursor: pointer;
    padding: 18px 0px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
  }

button.accordion  {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1em; /* 20px --> 20 ÷ 16 = 1.25 */
    font-weight: 600;
    line-height: 1.2em;
    max-width: auto;
    background-color: none;
  }

.accordion-item ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
}
.accordion-item li {
    list-style-type: circle !important;
    margin-bottom: 8px;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: none;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    margin: 0 auto;
    max-width: 90%;
    background-color: none;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel p {
    padding: 20px 40px;
  }

  .panel li {
    list-style-type: circle !important;

  }
  

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #FF8300 !important;
    float: right;
    margin-left: 10px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .service-detail {
    margin-bottom: 40px;
  }

  .acknowledgement {
    color: var(--white);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.role {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: start;
}

.role-title {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
    margin-bottom: 16px;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin-right: 8px;
    margin-bottom: 16px;

}

.tag span {
    font-size: 14px;
    font-weight: 500;
    color: var(--notBlack);
    padding: 4px 8px;
    background-color: var(--lime);
    border-radius: 4px;
}


/* small tablet styles */
@media screen and (min-width: 600px) {
    .studies {
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }

    .studies p {
        width: 80%;
        margin: 10px 0 20px 0;
    }

    .studies li {
        width: 50%;
        margin-bottom: 40px;
    }

    .figure {
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }

    .thumbnail {
        margin-right: 80px;
    }

    .figure .thumbnail {
        width: 50%;
    }

    .figure .description {
        width: 50%;
    }

    .figure#right {
        flex-direction: row-reverse;
    }

    .figure#right img {
        margin-left: 60px;
        margin-right: 0;
    }

    .process {
        display: flex;
        flex-wrap: wrap;
    }

    .process-image img {
        width: 49.7%;
    }

    .contact-mode {
        display: flex;
        flex-direction: row;
    }
    
    .contact-mode .cta-1 {
        margin-right: 30px;
    }

    .step p{
        padding-right: 40px;
    }

    .role {
        display: flex;
        flex-direction: row;
    }

}


/* desktop styles */
@media screen and (min-width: 1200px) {
    nav {
        max-width: 900px
    }

    .latest-work {
        width: 900px;
    }   

    .closebtn-position {
        max-width: 900px;
    }

    .callout-content {
        padding: 0 10%;
        max-width: 900px;
    }

    .summary {
        flex-direction: row;
        align-items: center;
        max-width: 900px;
    }

    .summary .description {
        padding: 24px 60px;
    }

    .overlay-content a {
        font-family: 'Space Mono', monospace;
        font-size: 24px;
        font-weight: 600;
        padding: 15px 24px;
        text-decoration: none;
        color: var(--white);
        display: block;
        transition: 0.5s;
    }

    .role {
        display: flex;
        flex-direction: row;
    }
}




/*__________________copy hover__________________*/

.highlight {
    background-image: linear-gradient(to right, transparent 50%, #c8e0fa 50%);
    background-size: 200%;
    transition: background-position 0.2s;
}

.highlight:hover {
    background-position: -100%;
    cursor: pointer;
}

.highlight-2 {
    background-image: linear-gradient(to right, transparent 50%, var(--lime) 50%);
    background-size: 200%;
    transition: background-position 0.2s;
}

.highlight-2:hover {
    background-position: -100%;
    cursor: pointer;
}

.highlight-3 {
    background-image: linear-gradient(to right, transparent 50%, #ffd3c1 50%);
    background-size: 200%;
    transition: background-position 0.2s;
}

.highlight-3:hover {
    background-position: -100%;
    cursor: pointer;
}

.highlight-4 {
    background-image: linear-gradient(to right, transparent 50%, rgba(255, 0, 149, 0.2) 50%);
    background-size: 200%;
    transition: background-position 0.2s;
}

.highlight-4:hover {
    background-position: -100%;
    cursor: pointer;
}


/*__________________header navigation__________________*/



@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


  /*__________________rotating text__________________*/
  .words-wrapper {
    font-size: 40px;
    line-height: 1.6em;
    font-weight: bold;
    text-align: center;
  }

  .words-wrapper .words {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    width: var(--width);
    height: 64px;
    padding: 0 10px;
    border-radius: 3px;
    color: var(--color, #000);
    background: var(--color-bg, #CDE4E1);
    box-sizing: content-box;
    transition: all 0.7s;
    clip-path: margin-box;
  }

  .words-wrapper .words span {
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -100%);
    transition: transform 0.7s, opacity 0.20s 0.20s;
  }

  .words-wrapper .words span.current {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  .words-wrapper .words span.next {
    transform: translate(-50%, 100%);
  }

  @media (max-width: 700px) {
    .words-wrapper .words {
      width: var(--width-mobile) !important;
    }
  }


